<header>
  <nav>
    <a class="nav-link" routerLinkActive="activate" routerLink="/inicio">Inicio</a>
    <a class="nav-link" routerLinkActive="activate" routerLink="/servicios">Servicios</a>
    <a class="nav-link" routerLinkActive="activate" routerLink="/acercade">Inicio</a>
    <a class="nav-link" routerLinkActive="activate" routerLink="/login">Inicio</a>
  </nav>
  <section class="textos-header">
    <h1>Helpi</h1>
    <h2>Házlo Fácil!</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
</header>
<main>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">¿Qué es Helpi?</h2>
    <div class="contenedor sobre-nosotros">
      <img src="" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>&bull;</span>¿Cómo nace Helpi?</h3>
        <p>Helpi surge como una propuesta para resolver situaciones cotidianas a las que nos enfrentamos las personas, ya que la mayoría de veces 
          demoramos mucho tiempo buscando la mejor manera de obtener ayuda a través de internet. Por lo que Helpi engloba gran variedad de servicios y un excelente contacto entre profesionales y usuarios.</p>
        <h3><span>&bull;</span>¿Por qué Helpi?</h3>
        <p>Porque tenemos un proceso de certificación para todos nuestros colaboradores, lo cual te garantiza el servicio y te protege en todo momento. 
          Además la contratación con un profesional es rápida, de fácil alcance, el proceso es intuitivo y sencillo. Sin contar que actualmente somos una gran fuente de empleo aportando al desarrollo de las personas.</p>
      </div>
    </div>
  </section>

  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Carácterísticas</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="../assets/variedadservicios.svg" alt="">
          <div class="hover-galeria">
            <img src="../assets/variedadserviciosico.png" alt="">
            <p>Variedad de Servicios</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../assets/seguridad.svg" alt="">
          <div class="hover-galeria">
            <img src="../assets/seguridadico.png" alt="">
            <p>Seguridad</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../assets/chatcolaboradores.svg" alt="">
          <div class="hover-galeria">
            <img src="../assets/chatcolaboradoresico.png" alt="">
            <p>Chat con Colaboradores</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../assets/pagoseguro.svg" alt="">
          <div class="hover-galeria">
            <img src="../assets/pagoseguroico.png" alt="">
            <p>Pago Seguro</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../assets/facilacceso.svg" alt="">
          <div class="hover-galeria">
            <img src="../assets/facilaccesoico.png" alt="">
            <p>Fácil Acceso</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../assets/garantiacalidad.svg" alt="">
          <div class="hover-galeria">
            <img src="../assets/garantiacalidadico.png" alt="">
            <p>Garantía y Cálidad</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="clientes contenedor">
    <h2 class="titulo">¿Qué dicen nuestros clientes?</h2>
    <div class="cards">
      <div class="card">
         <img src="../assets/joaquin.jpg" alt="">
         <div class="contenido-texto-card">
          <h4>Joaquín</h4>
          <p>El foco de mi habitación principal no estaba funcionando bien, estuve junto a mi esposa cotizando y 
            buscando por horas alguien que nos pudiera ayudar. Con Helpi tardé menos de 10 minutos en poder contactar y negociar con un electricista de su equipo, y debo admitir que su servicio fue excelente.</p>
         </div>
      </div>
      <div class="card">
        <img src="../assets/andrea.jpg" alt="">
        <div class="contenido-texto-card">
         <h4>Andrea</h4>
         <p>Cuando regresé de viaje noté que mi casa estaba hecha un desastre, y yo sola ni sabía por donde empezar a limpiar y ordenar. Tuve la fortuna de contactar
           a una chica de Helpi que me ayudó con la limpieza, la forma en la que logré comunicarme con ella fue impresionante. De seguro que usaré Helpi en el futuro!</p>
        </div>
     </div>
    </div>
  </section>

  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestros Servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../assets/limpieza.png" alt="">
          <h3>Limpieza</h3>
          <p>Desinfección/Sanitización en cualquier espacio, vivienda o negocio</p>
        </div>
        <div class="servicio-ind">
          <img src="../assets/electricidad.png" alt="">
          <h3>Electricidad</h3>
          <p>Realizamos, reparamos y mantenemos cualquier tipo de instalación eléctrica, tanto a particulares como a empresas, ofrecemos asesoramiento y servicios personalizados para la puesta en marcha de proyectos, ampliaciones, modificaciones o mantenimiento de instalaciones eléctricas propias o ajenas.</p>
        </div>
        <div class="servicio-ind">
          <img src="../assets/plomeria.png" alt="">
          <h3>Plomería</h3>
          <p>Brindamos servicio de plomería en general: instalaciones, reparaciones, mantenimiento y cambio de drenaje, agua potable,grifería y accesorios de sanitario, destapado de desagües y agua potable en general.</p>
        </div>
        <div class="servicio-ind">
          <img src="../assets/mecanica.png" alt="">
          <h3>Mecánica</h3>
          <p>Nuestro personal altamente calificado con la experiencia y capacitación necesaria le ofrece los siguientes servicios de mecánica general preventiva y correctiva para todo tipo de vehículos</p>
        </div>
        <div class="servicio-ind">
          <img src="../assets/carpinteria.png" alt="">
          <h3>Carpintería</h3>
          <p>Ofrecemos un servicio integral que engloba todos los aspectos relacionados con la madera: puertas, ventanas, parquets, tarimas, revestimientos, y otros trabajos.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>PBX</h4>
      <p class="">4551-2127</p>
    </div>
    <div class="content-foo">
      <h4>Correo Electronico</h4>
      <p class="">clientes@helpi.com</p>
    </div>
    <div class="content-foo">
      <h4>Ubicacion</h4>
      <p class="">Segundo Nivel, Via7 4-20, Zona 4, Torre Q</p>
    </div>
    <h2 class="titulo-final">Derechos Reservador &copy; Grupo 1 - IN6BM2</h2>
  </div>
</footer>