<body>
<form class="formulario">
  <h1>Login</h1>
   <div class="contenedor">
       <div class="input-contenedor">
       <i class="fas fa-envelope icon"></i>
       <input type="text" placeholder="Correo Electronico">
       </div>
       <div class="input-contenedor">
      <i class="fas fa-key icon"></i>
       <input type="password" placeholder="Contraseña">
       
       </div>
       <button  class="btn btn-guardar btn-lg btn-block" name="button" type="button"  style="color:black" (click)="login()" >Logearse</button>
       <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
       <p>¿No tienes una cuenta? <a class="link" href="/registrar">Registrate </a></p>
   </div>
  </form>
</body>